body {
  margin: 0;
  font-family: "Helvetica";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5f5f5f;
  color: #ffffff;
}

h1, h2 {
  margin: 0;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tri {
  display: flex;
  justify-content: center;
  white-space: pre;
  padding: 15px;
}

li{
  color: white;
}

table.concertTable {
  margin: 0 auto;
  border: 0px solid #000000;
  width: 90%;
  text-align: center;
  border-collapse: collapse;
}
table.concertTable td, table.concertTable th {
  border: 0px solid #AAAAAA;
  padding: 3px 2px;
}
table.concertTable tbody td {
  font-size: 13px;
}
table.concertTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.concertTable thead {
  background: #7F7F7F;
  background: -moz-linear-gradient(top, #9f9f9f 0%, #8b8b8b 66%, #7F7F7F 100%);
  background: -webkit-linear-gradient(top, #9f9f9f 0%, #8b8b8b 66%, #7F7F7F 100%);
  background: linear-gradient(to bottom, #9f9f9f 0%, #8b8b8b 66%, #7F7F7F 100%);
}
table.concertTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
table.concertTable tfoot td {
  font-size: 14px;
}
table.concertTable tfoot .links {
  text-align: right;
}
table.concertTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
